.contents.clearfix
  .left-contents
    .left-contents-top
      %icon
        = current_user.username
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{'aria-hidden': 'true'}

    .left-contents-bottom
      = render 'groups/group/'

  .right-contents
    .right-contents-top
      .group
        .group-name
          %h2  a
        .group-member
          %p
            あ
      .edit
        %p
          Edit
    .right-contents-middle
      .message-title
        %h3 あ
      .message-text
    .right-contents-bottom
      %form
        %input.text{placeholder: 'type a message', type: 'text'}/
        %i.fa.fa-picture-o{'aria-hidden': 'true'}
      .send
        %p
          Send

