.left-content__group-list
  - current_user.groups.each do |group|
    .left-content__group-list-list
      .left-content__group-list-list-name #{group.name}
      .left-content__group-list-list-message まだメッセージはありません
